* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: fantasy;
  text-align: center;
}

p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: lightgrey;
  border-style: dotted dotted dotted solid;
  border-width: 1px 1px 1px 7px;
  border-color: black;
  border-radius: 10px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

main {
  display: flex;
  width: 80%;
  height: max-content;
  margin: auto;
  position: relative;
}

header {
  padding: 20 0 20 0;
  margin-bottom: 30px;
  background-color: slategrey;
}

.sectionLeft {
  width: auto;
  width: 60%;
}

.sectionRight {
  width: 40%;
  text-align: center;
  align-self: center;
}

.numberInput {
  margin-bottom: 30px;
  width: 76.4%;
}

.numResponseUI {
  padding: 10px;
  background-color: antiquewhite;
}
